/* CSS Document */
/* Root = Vertical, Secondary = Vertical */
ul#navmenu{
width:134px!important;
width:131px;
margin-left:3px;
}
.current{
display:block;
}
.none{
display:none;
}
ul#navmenu div{
line-height:0px;
font-size:0px;
}
ul#navmenu,
ul#navmenu li,
ul#navmenu ul {
margin: 0;
padding: 0;
list-style: none;
}
ul#navmenu a{
text-decoration:none;
display: block;
} 
ul#navmenu li{
list-style:none;
color:#FFFFFF;
border-bottom:#FFFFFF 1px solid;
padding:0px;
margin:0px;
line-height:23px;
height:auto;
float:none;
}
ul#navmenu li a{
background-color:#6ea7df;
color:#FFFFFF;
padding-left:10px;
width:auto!important;
width/**/:100%;
}
ul#navmenu a:hover{
background-color:#3370ac;
}
ul#navmenu li li{
padding:0px;
color:#666666;
width:auto!important;
width/**/:100%;
border-bottom:#EBEBEB 1px solid;
border-left:none;
}
ul#navmenu li li a{
padding:0px;
background-color:#FFFFD0;
color:#666666;
width:auto!important;
width/**/:100%;
padding-left:10px;
}
ul#navmenu li li a:hover{
background-color:#FFF;
display:block;
width:auto!important;
width/**/:100%;
}
ul#navmenu ul ul{
display:none;
}
